gitpython>=2.1.8
paramiko>=2.9.0
numpy==1.26.4
matplotlib>=2.1.1
pyephem>=3.7.6.0
cython>=0.27.3
scipy>=1.0.0
Pillow>=4.3.0
astropy>=2.0.3
imreg_dft @ git+https://github.com/matejak/imreg_dft@master#egg=imreg_dft>'2.0.0'
configparser==4.0.2
imageio==2.6.1
python-dvr>=0.0.1
pyqtgraph>=0.12
pyyaml
tflite
opencv-python
python-dvr>=0.0.1
PyGObject
astrometry
pyclean>=2.7.6
